.promocode {
    text-align: center;
    padding: 15px;
    margin-top: 20px;

    .code {
        font-size: 18;
        background-color: white;
        padding: 4px 10px; 
        border-radius: 4;
    }

    button {
        height: auto
    }
}