.grid-section-card {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    box-shadow: none;
    border: none;
    overflow: hidden;

 span {
    font-size: 16px;
 }
 
 img {
    max-width: 100%;
 }
}